<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body>

    <h2>List of names</h2>

    <ul>
      <% for(var i = 0; i < someArray.length; i++) { %>
        <% if(someArray[i].name === 'mike') { %>
        <li><%= 'not mike' %> <%= 'not mike' %></li>
        <% } else { %>
        <li><%= someArray[i].name %></li>
        <% } %>
      <% } %>
    </ul>

    <form action="/add" method="POST">
      <p>Name: <input type="text" name="name"></p>
      <button type="submit">Button</button>
    </form>

  </body>
</html>
